In [1]:
# Set auto reload
%reload_ext autoreload
%autoreload 2

In [2]:
# Define parameters
rate = 3.6
payment = 15000
os = 500000

In [3]:
# Import libraries
import pandas as pd
import numpy as np

# Config
pd.options.display.float_format = "{:.2f}".format #Table format

In [4]:
# Define next balance function
def balances(rate, payment, os):
  interest_amount = os * rate / 100 / 12
  next_balance = os + interest_amount - payment
  return round(next_balance, 2)

In [5]:
# Apply function
balances(rate, payment, os)

486500.0

In [6]:
# Amortization schedule
x = os
amortization = []

while x > 0:
  x = balances(rate, payment, x)
  if x <= 0:
    break
  amortization.append(x)

In [7]:
# Number of terms
print(f'Number of term to repay: {len(amortization)}')

Number of term to repay: 35

In [8]:
# To DataFrame
ats = pd.DataFrame(
    amortization,
    index = np.arange(1, len(amortization) + 1),
    columns = ['Ending_balance'],
    dtype = np.float64
)

# Show table
ats

    Ending_balance
1        486500.00
2        472959.50
3        459378.38
4        445756.52
5        432093.79
6        418390.07
7        404645.24
8        390859.18
9        377031.76
10       363162.86
11       349252.35
12       335300.11
13       321306.01
14       307269.93
15       293191.74
16       279071.32
17       264908.53
18       250703.26
19       236455.37
20       222164.74
21       207831.23
22       193454.72
23       179035.08
24       164572.19
25       150065.91
26       135516.11
27       120922.66
28       106285.43
29        91604.29
30        76879.10
31        62109.74
32        47296.07
33        32437.96
34        17535.27
35         2587.88